.flex-box{
    display: flex;
    flex-wrap: wrap;
}

.Card{

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:200px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
    }

.titulo{
    background: black;
    text-decoration: none;
    color: wheat;
    font-size: 24px;
    padding: 18px 10px 0 10px;
}
.pie{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:200px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
}


